.product-list {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.create-block {
  display: flex;
  flex-direction: column;
}

.field-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  margin-bottom: 5px;
}

.input-wrapper {
  width: 70%;
  height: 60px;
  display: flex;
  flex-direction: column;
}

.field-wrapper label {
  width: 70%;
}

.input-wrapper input {
  height: 35px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
}
